body {
  background-color: lightblue;
  color: black;
  font-family: arial;
  font-size: 110%;
}
p {
  background-color: lightcyan;
  color:green;
  font-size: 16px;
  text-decoration: underline;
}
h3 {
  background-color: red;
  color:white;
   font-size: 16px;
border-bottom :  4px solid black;
  
}
h2 {
  background-color: grey;
  color:red;
  font-size: 16px;
  text-decoration: underline;
}
   
a:link, a:visited {
  background-color: transparent;
  color: white;
 
}

a:hover, a:active {
  background-color: purple;
}
